.obsidian/workspace.json

06-Pieces-jointes/images/**
!06-Pieces-jointes/images/
!06-Pieces-jointes/images/**/
!06-Pieces-jointes/images/*.md
!06-Pieces-jointes/images/**/*.md

06-Pieces-jointes/rules/**
!06-Pieces-jointes/rules/
!06-Pieces-jointes/rules/**/
!06-Pieces-jointes/rules/*.md
!06-Pieces-jointes/rules/**/*.md

06-Pieces-jointes/podcasts/**
!06-Pieces-jointes/podcasts/
!06-Pieces-jointes/podcasts/**/
!06-Pieces-jointes/podcasts/*.md
!06-Pieces-jointes/podcasts/**/*.md

06-Pieces-jointes/videos/**
!06-Pieces-jointes/videos/
!06-Pieces-jointes/videos/**/
!06-Pieces-jointes/videos/*.md
!06-Pieces-jointes/videos/**/*.md

